{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "disableLanguages": [],
  "endOfLine": "auto",
  "eslintIntegration": true,
  "htmlWhitespaceSensitivity": "strict",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requireConfig": false,
  "semi": false,
  "singleQuote": true,
  "stylelintIntegration": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "tslintIntegration": false,
  "useTabs": false
}
