// 基础颜色
$color-MAIN: #111f2c;
$color-SUBMARY: #f2f4f5;
$color-THIRDMARY: #191f25;
$color-PRIMARY: #0089ff;
$color-DEFAULT: #ffffff;
$color-WARNNING: #fb602d;

// 背景颜色
$color-DEFAULT-TAP: rgba(226, 228, 229, 1);
$color-DEFAULT-DISABLED: rgba(242, 244, 245, 1);

$color-PRIMARY-TAP: rgba(2, 124, 229, 1);
$color-PRIMARY-DISABLED: rgba($color-PRIMARY, 0.4);

$color-SUBMARY-TAP: rgba(214, 218, 220, 1);
$color-SUBMARY-DISABLED: rgba(242, 244, 245, 1);

$color-WARNNING-TAP: rgba(222, 88, 44, 1);
$color-WARNNING-DISABLED: rgba(251, 96, 45, 0.4);

$color-BORDER: rgba($color-MAIN, 0.08);
