@font-face {
  font-family: 'iconfont'; /* project id 2103734 */
  src: url('//at.alicdn.com/t/font_2103734_ogvipk0zng.eot');
  src: url('//at.alicdn.com/t/font_2103734_ogvipk0zng.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2103734_ogvipk0zng.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2103734_ogvipk0zng.woff') format('woff'),
    url('//at.alicdn.com/t/font_2103734_ogvipk0zng.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2103734_ogvipk0zng.svg#iconfont') format('svg');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
